// Variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$primary: #14b9d6 !default;
$secondary: #1fbba6 !default;

$text-color: #323a45;
$background-color: #f9fafb;

$teal: #14b9d6;
$orange: #f27935 !default;
$dark-red: #6b000d;
$medium-red: #ff344d;
$light-red: #f4d6da;
$dark-green: #001e1a;
$medium-green: #1fbba6;
$light-green: #c8e7e3;
$dark-grey: #5f6e81;
$medium-grey: #dbe1e8;
$light-grey: #eceff4;



$_original_primay: #F05F40