footer {
  background-color: white;
  a {
    color: #323a45;
    font-size: 0.9rem;
    font-weight: 600;
    &:hover {
      text-decoration: none;
    }
  }
  .divider {
    width: 100%;
    max-width: 100%;
  }
  .footer-link {
    line-height: 32px;
  }
  .footer-copyright{
    color: #5f6e81;
    font-size: 0.8rem;
    font-weight: 500;
    a {
      font-size: 0.9rem;
      font-weight: 500;
    }
  }
}